---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import ScrollReveal from '../components/ScrollReveal.astro';
import { Image } from 'astro:assets';
import hero from '../assets/hero.png';
import heroMobile from '../assets/hero-mobile.png';
import projectHero1 from '../assets/poc/project-hero-1.png';
import projectHero2 from '../assets/poc/project-hero-2.png';
import projectHero3 from '../assets/poc/project-hero-3.png';
import Tag from '../components/Tag.astro';

const serviceTags = [
  'Brand Identity',
  'Packaging Design',
  'Brand Strategy',
  'Naming',
  'Web Design',
  'Graphic Design',
  'Motion Design',
  'UI/UX',
  'Brand Manual',
];
---

<Layout title="Symbold | About">
  <section id="headers" class="content-padding">
    <h1 class="page-title">We don't design logos.</h1>
    <h2 class="mt-10 text-base font-medium md:text-2xl">
      Symbold is a branding studio for ambitious companies that value design as strategy, not
      decoration.
    </h2>

    <div class="mt-10">
      <Button class="w-full md:w-auto" href="/work">→ Work with us</Button>
    </div>
  </section>

  <section id="hero" class="edge-padding mt-10 w-full md:mt-40">
    <Image src={heroMobile} alt="Hero" class="h-auto w-full md:hidden" />
    <Image src={hero} alt="Hero" class="hidden h-auto w-full md:block" />
  </section>

  <ScrollReveal>
    <h2
      class="mt-10 text-center text-8xl font-black tracking-tighter md:mt-20 md:text-[clamp(9rem,17vw,17.5rem)]"
    >
      who we are
    </h2>
  </ScrollReveal>

  <ScrollReveal>
    <h2
      class="content-padding mx-auto mt-20 w-full text-center text-xl leading-relaxed font-bold md:mt-80 md:text-4xl"
    >
      Symbold is not a traditional agency. <br /> We are a studio of branding experts, based in Cluj
      and working internationally. <br />We move fast, deliver a lot, and do it with depth and
      precision.
    </h2>
  </ScrollReveal>

  <ScrollReveal>
    <div class="edge-padding mt-10 w-full md:mt-40">
      <Image src={heroMobile} alt="Hero" class="h-auto w-full md:hidden" />
      <Image src={projectHero1} alt="Hero" class="hidden h-auto w-full md:block" />
    </div>
  </ScrollReveal>

  <section id="services" class="content-padding">
    <h2 class="pt-8 text-center text-4xl font-black md:pt-40 md:text-6xl">Services</h2>

    <div id="service-tags" class="mt-10 flex flex-col items-center gap-4 md:mt-20">
      <div class="flex flex-wrap justify-center gap-4">
        {
          serviceTags
            .slice(0, 4)
            .map((tag) => (
              <Tag
                id={tag}
                label={tag}
                class="px-6 py-2 text-xl md:px-10 md:py-4"
                interactive={false}
              />
            ))
        }
      </div>
      <div class="flex flex-wrap justify-center gap-4">
        {
          serviceTags
            .slice(4, 7)
            .map((tag) => (
              <Tag
                id={tag}
                label={tag}
                class="px-6 py-2 text-xl md:px-10 md:py-4"
                interactive={false}
              />
            ))
        }
      </div>
      <div class="flex flex-wrap justify-center gap-4">
        {
          serviceTags
            .slice(7, 9)
            .map((tag) => (
              <Tag
                id={tag}
                label={tag}
                class="px-6 py-2 text-xl md:px-10 md:py-4"
                interactive={false}
              />
            ))
        }
      </div>
    </div>
  </section>

  <ScrollReveal>
    <div class="edge-padding mt-10 w-full md:mt-40">
      <Image src={heroMobile} alt="Hero" class="h-auto w-full md:hidden" />
      <Image src={projectHero1} alt="Hero" class="hidden h-auto w-full md:block" />
    </div>
  </ScrollReveal>

  <section id="values" class="content-padding">
    <div class="mt-10 flex flex-col gap-4 md:mt-20 md:flex-row">
      <div class="flex w-full flex-col md:w-1/2">
        <h2 class="pt-8 text-left text-4xl font-black md:pt-20 md:text-6xl">Our values</h2>
      </div>
      <div
        class="flex w-full flex-col gap-10 pt-8 pl-18 text-sm md:w-1/2 md:pt-20 md:pl-0 md:text-2xl"
      >
        <p>
          <span class="font-bold md:font-normal">Brutally honest</span>
          <span class="text-accent hidden md:inline">→</span><br class="md:hidden" /> no sugarcoating,
          only clarity
        </p>
        <p>
          <span class="font-bold md:font-normal">Conceptual</span>
          <span class="text-accent hidden md:inline">→</span><br class="md:hidden" /> every brand built
          on strong ideas
        </p>
        <p>
          <span class="font-bold md:font-normal">Efficient</span>
          <span class="text-accent hidden md:inline">→</span><br class="md:hidden" /> fast, structured,
          reliable
        </p>
        <p>
          <span class="font-bold md:font-normal">Ambitious</span>
          <span class="text-accent hidden md:inline">→</span><br class="md:hidden" /> aiming higher,
          always
        </p>
        <p>
          <span class="font-bold md:font-normal">Profound</span>
          <span class="text-accent hidden md:inline">→</span><br class="md:hidden" /> depth over superficial
          design
        </p>
      </div>
    </div>
  </section>

  <div class="content-padding">
    <hr class="mt-30 mb-10 md:mb-30" />
  </div>

  <section id="diferentiators" class="content-padding">
    <div class="mt-10 flex flex-col gap-4 md:mt-20 md:flex-row">
      <div class="flex w-full flex-col md:w-1/2">
        <h2 class="pt-8 text-left text-4xl font-black md:pt-20 md:text-6xl">Differentiators</h2>
      </div>
      <div
        class="flex w-full flex-col gap-10 pt-8 pl-18 text-sm leading-8 md:w-1/2 md:pt-20 md:pl-0 md:text-2xl md:leading-14"
      >
        <p class="pr:10 md:pr-0md:w-3/4">
          Fast delivery, holistic services, and a proven methodology that combines strategic clarity
          with design excellence.
        </p>
      </div>
    </div>
  </section>

  <div class="content-padding md:hidden">
    <hr class="mt-10 mb-10 md:mb-30" />
  </div>

  <div class="md:content-padding px-2">
    <h2
      class="mx-auto pt-8 text-center text-xl leading-relaxed font-bold md:px-30 md:pt-60 md:text-[2.5rem]"
    >
      We're not here to please everyone.
      <br class="md:hidden" />
      We're here to partner with clients
      <br class="md:hidden" />
      who
      <br class="md:hidden" />
      understand the value of design done
      <br class="md:hidden" />
      right.
    </h2>
    <div class="mx-auto mb-10 flex justify-center pt-30 md:mb-40 md:pt-60">
      <Button class="mx-2 w-full md:w-auto" href="/work">→ Work with us</Button>
    </div>
  </div>

  <div class="content-padding">
    <hr class="mt-30 mb-10 md:mb-30" />
  </div>
</Layout>
