---
import { Image } from 'astro:assets';
import { MuxPlayer } from '@mux/mux-player-astro';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import ScrollReveal from '../components/ScrollReveal.astro';
import hero from '../assets/hero.png';
import heroMobile from '../assets/hero-mobile.png';
import heroProj1 from '../assets/poc/project-hero-1.png';
import heroProj2 from '../assets/poc/project-hero-2.png';
import heroProj3 from '../assets/poc/project-hero-3.png';
---

<Layout title="Symbold">
  <section id="headers" class="content-padding">
    <h1 class="page-title">brutally honest <br /> branding</h1>
    <h2 class="mt-10 text-base font-medium md:text-2xl">
      we create conceptual, ambitious, and profound brand identities.
    </h2>

    <div class="mt-10">
      <Button class="w-full md:w-auto" href="/work">→ Work with us</Button>
    </div>
  </section>

  <section id="hero" class="edge-padding mt-10 w-full md:mt-40">
    <Image src={heroMobile} alt="Hero" class="h-auto w-full md:hidden" />
    <Image src={hero} alt="Hero" class="hidden h-auto w-full md:block" />
  </section>

  <ScrollReveal>
    <h2 class="mt-20 text-center text-xl leading-tight font-bold md:mt-60 md:text-4xl">
      We don't make the logo bigger.
      <br />
      We craft strategic, bold brands that move businesses forward.
      <br />
      We are agile, efficient & creative
    </h2>
  </ScrollReveal>

  <ScrollReveal>
    <div class="edge-padding mt-20 md:mt-60">
      <!-- <Image src={heroProj1} alt="Hero Project 1" class="h-auto w-full" /> -->
      <div>
        <MuxPlayer
          playbackId="FNxQJaU02uRsOBFTwOF7UTFTg4YnZMzRGtTwBfLR3KLg"
          metadata={{
            video_title: 'Brancusi',
          }}
          style={{
            display: 'block',
            aspectRatio: '16/9',
            backgroundColor: '#000',
            '--controls': 'none',
          }}
          primaryColor="#f2ec3a"
          secondaryColor="#0caa09"
          accentColor="#6e1e99"
          autoplay={true}
          muted={true}
          loop={true}
          nohotkeys={true}
          defaultHiddenCaptions={true}
          streamType="on-demand"
        />
      </div>
    </div>
  </ScrollReveal>

  <div class="edge-padding mt-4 flex flex-col gap-4 md:flex-row md:gap-4">
    <ScrollReveal class="w-full md:w-1/2">
      <Image src={heroProj2} alt="Hero Project 2" class="h-auto w-full" />
    </ScrollReveal>
    <ScrollReveal class="w-full md:w-1/2">
      <!-- <Image src={heroProj3} alt="Hero Project 3" class="h-auto w-full" /> -->
      <div class="w-full">
        <MuxPlayer
          playbackId="jKdX00whICbkRA3qni4OlyaV01ogVdhq7lwYxx00FE9twY"
          metadata={{
            video_title: 'Outdoorz',
          }}
          style={{
            display: 'block',
            width: '100%',
            aspectRatio: '16/9',
            backgroundColor: '#000',
            '--controls': 'none',
          }}
          primaryColor="#f2ec3a"
          secondaryColor="#0caa09"
          accentColor="#6e1e99"
          autoplay={true}
          muted={true}
          loop={true}
          nohotkeys={true}
          defaultHiddenCaptions={true}
          streamType="on-demand"
        />
      </div>
    </ScrollReveal>
  </div>

  <a href="/work" class="link-primary mt-10 block text-center">See our work</a>

  <ScrollReveal>
    <h2
      class="mx-auto mt-10 w-full text-center text-xl leading-tight font-bold md:mt-30 md:w-1/2 md:text-4xl"
    >
      We are not for everyone.
      <br />
      Symbold partners only with visionaries who value design as strategy, not decoration.
    </h2>
  </ScrollReveal>

  <div class="content-padding mt-30 flex items-center justify-center">
    <Button class="w-full md:w-auto" href="/work">→ Work with us</Button>
  </div>

  <div class="content-padding">
    <hr class="mt-30 mb-10 md:mb-30" />
  </div>
</Layout>
