---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import logo from '../assets/logo.png';

const menuItems = [
  { name: 'Home', href: '/' },
  { name: 'Work', href: '/work' },
  { name: 'About', href: '/about' },
  { name: 'Contact', href: '/contact' },
];
---

<header class="content-padding flex h-[76px] items-center justify-between">
  <div class="logo">
    <a href="/">
      <Image src={logo} alt="SYMBOLD" width={100} height={100} />
    </a>
  </div>
  <!-- Desktop Navigation -->
  <nav class="hidden items-center gap-6 md:flex">
    {
      menuItems.map((item) => (
        <a href={item.href} class="text-base font-medium uppercase">
          {item.name}
        </a>
      ))
    }
  </nav>

  <!-- Mobile Hamburger -->
  <button id="menu-toggle" class="md:hidden" aria-label="Toggle menu" aria-expanded="false">
    <Icon name="mdi:menu" class="h-8 w-8" />
  </button>
</header>

<!-- Mobile Menu -->
<nav
  id="mobile-menu"
  class="fixed inset-0 top-[76px] z-50 flex flex-col items-center justify-center gap-6 bg-white transition-transform duration-500 ease-in-out md:hidden"
  style="transform: translateY(-100%); visibility: hidden;"
>
  {
    menuItems.map((item) => (
      <a href={item.href} class="text-2xl font-medium uppercase">
        {item.name}
      </a>
    ))
  }
</nav>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle?.addEventListener('click', () => {
    const isExpanded = menuToggle.getAttribute('aria-expanded') === 'true';
    menuToggle.setAttribute('aria-expanded', (!isExpanded).toString());

    if (isExpanded) {
      mobileMenu!.style.transform = 'translateY(-100%)';
      setTimeout(() => {
        mobileMenu!.style.visibility = 'hidden';
      }, 500);
    } else {
      mobileMenu!.style.visibility = 'visible';
      setTimeout(() => {
        mobileMenu!.style.transform = 'translateY(0)';
      }, 10);
    }
  });
</script>
