---
import { MuxPlayer } from '@mux/mux-player-astro';

interface Props {
  playbackId: string;
  videoTitle: string;
  mobileAspectRatio?: boolean;
  class?: string;
  enforceAspectRatio?: boolean;
}

const { playbackId, videoTitle, mobileAspectRatio = false, class: className, enforceAspectRatio = false } = Astro.props;
---

<div class:list={['w-full', enforceAspectRatio && 'aspect-video', className]}>
  <MuxPlayer
    disableCookies={true}
    playbackId={playbackId}
    metadata={{
      video_title: videoTitle,
    }}
    style={{
      display: 'block',
      '--controls': 'none',
      width: '100%',
      height: enforceAspectRatio ? '100%' : 'auto',
      objectFit: enforceAspectRatio ? 'cover' : 'contain',
    }}
    class={enforceAspectRatio ? 'w-full h-full' : 'h-auto w-full'}
    autoplay={true}
    muted={true}
    loop={true}
    nohotkeys={true}
    defaultHiddenCaptions={true}
    streamType="on-demand"
  />
</div>
